.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #0a0310; /* cor de fundo do rodapé */
  color: #fff; /* cor do texto no rodapé */
  z-index: 999; /* Garante que o footer esteja acima do conteúdo */
}

.social-list {
  list-style: none;
  display: flex;
  gap: 10px;
  padding: 0;
}

.creation-date {
  font-size: 14px;
}

.footer-logo {
  font-size: 18px;
  font-weight: bold;
}
