body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }
  
  html, body, #__next {
    height: 100%;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
