/* src/components/styles/Main.css */

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 100vh;
    overflow-y: auto;
  }
  
  .product {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    width: 300px;
    text-align: center;
  }
  
  .product img {
    max-width: 100%;
    height: auto;
  }
  